# Forcer Docker à télécharger la version légère de PyTorch pour CPU uniquement
--extra-index-url https://download.pytorch.org/whl/cpu

# Bibliothèques IA & Embeddings (Version CPU)
torch==2.11.0
sentence_transformers==5.6.0
chromadb==1.5.9

# API & Serveur
fastapi==0.141.1
uvicorn[standard]==0.34.0
python-multipart==0.0.32
pydantic==2.13.4
python-dotenv==1.2.2

# Base de données & Connecteurs
pymongo==4.17.0
google-genai==2.11.0

# Traitement de texte et fichiers
pdfplumber==0.11.10
python_docx==1.2.0
python_pptx==1.0.2
deepl==1.30.0

# Utilitaires linguistiques et calcul
langdetect==1.0.9
pycountry==26.2.16
rapidfuzz==3.14.5
numpy==2.2.6
protobuf==7.35.1